@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* body */
html,
body,
#root {
  background: whitesmoke;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
/* app */
#container {
  display: flex;
}
header {
  box-sizing: border-box;
  width: 300px;
  background: black;
}
main {
  flex: 1;
  width: 100%;
  background: whitesmoke;
}
footer {
  display: none;
}
/* nav */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: black;
  padding: 30px 30px 45px 30px;
  font-size: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 15px;
  justify-content: space-between;
}
.menu-title {
  flex-wrap: wrap;
  margin: 1.5em 0.3em;
}
.title-link {
  display: block;
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.menu-link {
  display: block;
  margin: 10px 15px 10px 5px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.contact {
  padding: 0.3em 0.3em 0.2em 0.3em;
}
.contact-link {
  display: flex;
  padding: 2px 5px;
  margin: 5px 5px 5px 15px;
  font-size: 1.2rem;
  color: white;
  align-items: center;
  text-decoration: none;
}
.icon-name,
.refer-name {
  margin: 0em 0.5em;
  font-size: 1.1rem;
  font-weight: bold;
  font-weight: 500;
}
/* contents */
/* about */
.contents-container {
  flex: 1;
  background: whitesmoke;
  padding: 1% 10%;
  font-size: 1.3rem;
}
.main-contents {
  margin: 60px 0px;
}
.main-title {
  display: inline-block;
  background-color: black;
  border-radius: 5px;
  padding: 0em 0.3em 0.1em 0.3em;
  margin: 0.3em 0em 0.6em 0em;
  color: white;
}
.about-wrapper {
  margin-top: 50px;
}
.contents-box {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}
.about-title {
  display: inline-block;
  width: 150px;
  margin-top: 0px;
  color: rgb(77, 77, 77);
}
.about-box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  justify-content: center;
}
.about-description {
  margin: 0em 3em;
}
.myname {
  margin: 0px;
}
.myimage {
  width: auto;
  height: 220px;
  border: 0.5em double lightgrey;
  border-radius: 48%;
  margin: 1em 0em;
}
.about-description {
  display: inline-block;
  text-align: center;
}
.description-me {
  width: 470px;
}
.refer-box {
  display: flex;
  flex-direction: row;
  margin-top: 0.6em;
}
.stack-box {
  width: 100%;
}
.stack-img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stack-img {
  width: auto;
  height: 65px;
  border-radius: 5px;
  margin: 2% 3%;
}
/* project */
.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 0.25em 1em 1em 1em;
  margin: 20px 0px;
  text-align: center;
}
.project-header {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  align-items: baseline;
}
.project-title {
  display: inline-block;
  margin: 0.3em;
  font-size: 1.8rem;
  font-weight: bold;
}
.project-link {
  display: flex;
  background-color: black;
  border-radius: 10px;
  padding: 0.1em 0.3em 0.1em 0.3em;
  margin: 0.3em;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.project-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.7em;
  justify-content: center;
  align-items: center;
}
.project-img {
  width: 590px;
  height: auto;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.description {
  display: inline-block;
  margin: 3% 3%;
  font-size: 1.2rem;
  text-align: start;
}
.use-stack {
  display: inline-block;
  background-color: grey;
  border-radius: 10px;
  padding: 0.1em 0.5em;
  margin: 0.3em;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.myrole {
  margin: 0.7em 0em 0.4em 0em;
}
/* author */
.author {
  height: 5em;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  /* app */
  #container {
    width: 100vw;
    padding: 0px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
  }
  .contents-container {
    padding: 8vh 10% 6vh 10%;
  }
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 6vh;
    background: black;
    justify-content: center;
    align-items: center;
  }
  /* nav */
  .nav-container {
    width: 100%;
    height: 8vh;
    padding: 0px;
  }
  .menu {
    height: 100%;
    padding: 0px;
    justify-content: center;
  }
  .menu-title {
    display: flex;
    margin: 0em 1em;
    justify-content: space-between;
    align-items: baseline;
  }
  .menu-detail {
    display: flex;
  }
  .title-link,
  .menu-link {
    display: inline-flex;
    margin: 10px;
    font-weight: 500;
  }
  /* contact */
  .pc-contact {
    display: none;
  }
  .contact {
    display: flex;
    height: 6vh;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .contact .menu-link {
    padding-bottom: 3px;
    margin-right: 30px;
  }
  .contact-link {
    display: inline-flex;
    margin: 0px;
  }
  .icon-name {
    margin: 0em 0.3em;
  }
  /* about */
  .about-wrapper {
    margin: 0px;
  }
  .main-title {
    padding: 0.1em 0.3em;
    margin: 0.3em 0em 0em 0em;
  }
  .contents-box {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    align-items: center;
  }
  .contents-box:last-child {
    margin-top: 4%;
  }
  .about-title {
    text-align: center;
    margin: 0.5em 0.5em 0.5em 0em;
  }
  .myimage {
    margin: 0.5em 1em 1em 1em;
  }
  .stack-img {
    width: auto;
    height: 60px;
    border-radius: 5px;
    margin: 2% 3%;
  }
  /* project */
  .project-item {
    border: solid rgba(60, 60, 60, 0.2);
    border-width: 0em 0em 0.2em 0em;
    border-radius: 0px;
    box-shadow: none;
    padding: 0.25em 1em 3em 1em;
    margin: 10px 0px;
  }
  .description {
    margin-top: 4%;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1024px) and (max-height: 450px) {
  .main-title {
    font-size: 1.5rem;
  }
  .title-link {
    font-size: 6vh;
  }
  .menu-link {
    font-size: 5vh;
  }
  .contact-link {
    font-size: 4.5vh;
  }
  .icon-name {
    font-size: 3.5vh;
  }
}
@media only screen and (max-width: 766px) {
  header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 8vh;
  }
  .contents-container {
    padding: 8vh 5%;
    font-size: 0.8rem;
  }
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 8vh;
    background: black;
    justify-content: center;
  }
  /* nav */
  .nav-container {
    height: 8vh;
  }
  .menu {
    height: 100%;
    padding: 0px;
    justify-content: center;
  }
  .menu-title {
    display: flex;
    margin: 0em 0.5em;
    justify-content: space-between;
    align-items: baseline;
  }
  .title-link,
  .menu-link {
    margin: 5px;
  }
  .title-link {
    font-size: 3vh;
  }
  .menu-link {
    font-size: 2.5vh;
  }
  /* about */
  .main-contents {
    margin: 20px 0px;
  }
  /* contact */
  .pc-contact {
    display: none;
  }
  .contact {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .contact .menu-link {
    display: none;
  }
  .contact-link {
    display: inline-flex;
    margin: 0px 8px;
    font-size: 5vh;
  }
  .icon-name {
    display: none;
  }
  /* about */
  .about-wrapper {
    margin: 0px;
  }
  .about-box {
    align-items: center;
  }
  .myimage {
    height: 150px;
    margin-top: 0em;
    margin-bottom: 1em;
  }
  .about-description {
    margin: 0em 1em;
  }
  .myname {
    font-size: 1.3rem;
  }
  .description-me {
    width: 100%;
    font-size: 0.7em;
    font-size: 0.9rem;
  }
  .stack-img {
    width: auto;
    height: 30px;
    border-radius: 5px;
    margin: 2% 3%;
  }
  /* project */
  .project-title {
    font-size: 1.2rem;
  }
  .project-img {
    width: 95%;
  }
  .description {
    margin-top: 4%;
    font-size: 0.8rem;
  }
  .project-link {
    font-size: 0.8rem;
  }
  .refer-name {
    font-size: 0.7rem;
  }
  .use-stack {
    /* font-size: 0.7rem; */
    font-size: 0.9rem;
  }
  .author {
    font-size: 1rem;
  }
}
/* 
@media all and (orientation:portrait) {} 
@media all and (orientation:landscape) {}  */
